@import "./profile.module.scss";

.diligence__week {
  max-height: 77vh;
  overflow-y: scroll;
  margin-top: 10px;
  font-size: 1.4rem;

  .diligence__day:first-child {
    background-color: #fff7e5;
  }

  .diligence__day {
    display: flex;
    @include background;
    border-radius: 5px;
    padding: 25px 10px;
    margin-bottom: 10px;
    .day__in-week {
      min-width: 100px;
      text-align: center;
      line-height: 50px;

      div {
        line-height: 20px;
      }
    }

    .time__calendar-work {
      width: 100%;
      display: flex;
      padding: 5px;
    }

    .state__work,
    .btn__change-of-shift {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .change__calendar-work {
      background-color: rgba($color: #0088ff, $alpha: 0.01);
      color: #0088ff;
      border: 1px solid #0088ff;
      padding: 0 8px;
      display: none;
    }

    .change__calendar-work:hover {
      background-color: rgba($color: #0088ff, $alpha: 0.05);
    }
  }

  .diligence__day:hover .change__calendar-work {
    display: block;
    // background-color: ;
  }

  .diligence__day:hover {
    opacity: 0.9;
  }
}

.day__calendar-work {
  color: var(--blur-color);
  font-size: 1.2rem;
}
