@import "./profile.module.scss";

.side__bar-myspace {
  margin-bottom: 20px;
}
.infor__myspace {
  padding: 20px;
}

.infor__myspace,
.list__member {
  @include background;
  position: relative;
  @include text;
  display: flex;
  flex-direction: column;
  align-items: center;

  .img__user {
    margin-bottom: 10px;
  }

  .img__user,
  .img__member {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius);
  }

  .name__user {
    font-size: 1.4rem;
  }

  .name__user:hover {
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  }

  .name__member:hover {
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  }

  .role__user {
    color: var(--blur-color);
    font-weight: 300;
  }

  .state__user,
  .state__member {
    color: rgb(181, 12, 12);
    font-weight: 300;
    font-size: 1.2rem;
  }

  .time__user {
    font-size: 2rem;
    font-weight: 300;
    color: var(--blur-color);
    margin: 20px 10px 15px;
    span {
      min-width: 10px;
      min-height: 10px;
      padding: 5px;
      border-radius: 5%;
      background-color: #edf0f4;
    }
  }
}

.list__member {
  margin-top: 10px;
  // min-height: 40vh;
  width: 100%;

  .member__item {
    display: flex;
    align-items: center;
    width: 100%;
    // margin: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    padding: 10px 10px;

    .main__infor {
      line-height: 15px;
    }
  }

  .action__btn {
    display: flex;
    justify-content: center;
    flex: 1;
    opacity: 0.7;
  }

  .action__btn:hover {
    opacity: 1;
  }

  .member__item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .member__item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .member__item:hover .name__user {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .member__item:hover {
    background-color: #e5e5f0;
  }

  .member__infor {
    margin-left: 5px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .img__member {
    width: 30px;
    height: 30px;
  }
}

.contacts {
  cursor: pointer;
  position: relative;
  padding: 10px;
  border-radius: 50%;
}

.contacts:hover .list__contacts {
  display: block;
}

.list__contacts {
  position: absolute;
  right: -180px;
  top: 0px;
  min-width: 150px;
  @include background;
  display: none;
  z-index: 1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

  .contacts__item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;

    span {
      margin-left: 5px;
    }
  }

  .contacts__item:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  .contacts__item:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  .contacts__item:hover {
    background-color: #edf0f4;
  }
}

.list__contacts.fix {
  min-width: 80px;
}

.list__contacts::before {
  position: absolute;
  content: "";
  left: -30px;
  overflow: hidden;
  top: 0px;
  width: 30px;
  height: 100%;
}

.contacts:hover {
  background-color: #edf0f4;
  color: var(--active-color);
}

.btn__check-in {
  border: 1px solid rgb(14, 188, 107) !important;
  background-color: rgb(14, 188, 107, 0.05) !important;
  color: rgb(14, 188, 107) !important;
  display: none;
}

.btn__check-in:hover {
  background-color: rgb(14, 188, 107, 0.1) !important;
}

.btn__check-out {
  border: 1px solid rgba(233, 14, 14, 0.5) !important;
  background-color: rgba(233, 14, 14, 0.05) !important;
  color: rgba(233, 14, 14, 0.5) !important;
  display: none !important;
}

.btn__check-out:hover {
  background-color: rgba(233, 14, 14, 0.1);
}

.btn__check-in.btn__active {
  display: block;
}

.btn__check-out.btn__active {
  display: block;
}

.navbar__myspace {
  @include background;
}

.list__navbar-myspace {
  display: flex;
  justify-content: space-around;
  padding: 0 5px;
  @include text;

  .myspace__item {
    cursor: pointer;
    padding: 10px;
  }

  .myspace__item.active__myspace {
    border-bottom: 3px solid var(--active-color);
  }
}

.greating__my-space,
.calendar-work__my-space {
  margin-top: 10px;
  @include background;
}

.greating__my-space {
  display: flex;
  align-items: center;
  padding: 20px;
}

.wish__myspace {
  @include text;
  margin-left: 8px;
  font-size: 1.6rem;

  .hello__myspace {
    font-weight: 300;
    color: var(--blur-color);
  }
}

.calendar-work__my-space {
  padding: 20px;
}

.content__calendar {
  width: 100%;
  margin-left: 10px;
}

.calendar-work__my-space {
  display: flex;
  width: 100%;
  .title__calendar {
    @include text;
  }

  .week__calendar-work,
  .day__calendar-work {
    color: var(--blur-color);
    display: flex;
    line-height: 15px;
  }

  .day__calendar-work {
    font-size: 0.8rem;
    margin-top: -5px;
  }

  .hook__calendar {
    margin: 5px 0;
  }

  .week__calendar-work span {
    display: block;
    padding: 0 8px;
  }

  .day__calendar-work span {
    display: block;
    padding: 0 4px;
  }
}

.time__calendar-work {
  width: 95%;
  padding: 0 20px;
  background-color: #f6f6f6;
  border-left: 2px solid #999898;
  border-radius: 2px;
  display: flex;
}

.id__user {
  color: var(--blur-color);
  font-weight: 300;
}

.hook__calendar {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hook-week__calendar-work {
  border-top: 1px solid #edf0f4;
  width: 95%;

  .doc__day-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .doc__day-item {
      width: calc(100% / 7);
      font-size: 1rem;
      font-weight: 600;
      position: relative;

      .state__user {
        line-height: 10px;
        font-weight: 100;
      }

      .state__user.state__user-weekend {
        color: #f2a82f;
      }

      .state__user.state__user-absent {
        color: #ec5158;
      }

      .state__user.state__user-present {
        color: #0ebc6b;
      }

      .date__in-week {
        color: var(--blur-color);
        margin-right: 5px;
      }
    }

    .doc__day-item::before {
      position: absolute;
      content: "";
      top: -3.5px;
      left: 0;
      width: 6px;
      height: 6px;
      background-color: #edf0f4;
      border-radius: 50%;
    }
  }
}
.calendar-work__my-space {
  display: flex;
  justify-content: space-between;

  .note__authencation {
    display: flex;
  }
}

.calendar-work__my-space:hover .btn__note {
  display: block;
}

.btn__note {
  border: 1px solid #0088ff;
  color: #0088ff;
  background-color: rgb(0, 136, 255, 0.01);
  display: none;
}

.btn__note:hover {
  background-color: rgb(0, 136, 255, 0.05);
}

.box__feeds {
  width: 100%;
  overflow: hidden;
  position: relative;

  .feeds__list {
    margin: 10px 0;
    max-height: 55vh;
    overflow-y: scroll;
  }

  .chat__feeds {
    width: 100%;
    @include background;
    position: absolute;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10px;

    .input__feed {
      width: 100%;
      height: 40px;
      text-align: start;
      background-color: #edf0f4;
      padding: 0 10px;
      border-radius: 3px;
      margin: 10px 0;
      // outline: 1px solid rgba(0, 0, 0, 0.1);
    }

    .input__feed:focus {
      outline: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.btn__up-feeds {
  border-radius: 3px;
  background-color: #0088ff;
  color: var(--white-color);
}

.img__user {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
  margin-right: 5px;
}

.feed__item {
  @include background;
  padding: 10px;
  margin-bottom: 10px;
}

.infor__user-feed {
  display: flex;

  .name__user {
    @include text;
  }

  .times__feed {
    display: flex;
    gap: 5px;
  }

  .times__feed {
    color: var(--blur-color);
    font-size: 1.3rem;
  }
}

.contents__feed {
  width: 100%;
  margin: 10px 0;

  .document__cmt {
    width: 100%;
    outline: none;
  }

  .feedback {
    display: flex;

    .gr__btn {
      display: flex;
      align-items: center;
      color: var(--blur-color);
      font-size: 1.4rem;
      margin-right: 10px;
      cursor: pointer;

      span {
        margin-right: 5px;
        cursor: pointer;
      }
    }

    .btn__like,
    .btn__cmt {
      min-width: 40px;
      text-align: start;
      cursor: pointer;
    }
  }
}

.day__calendar-work {
  color: var(--blur-color);
  font-size: 1.2rem;
}

.container__my-space {
  padding: 20px 20px;
  // margin-top: 30px;
}

.control__project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__control-project {
  border: 1px solid rgb(0, 0, 0, 0.1);
  margin: 5px;
  background-color: #e5e5f0;
  color: var(--blur-color);

  svg {
    margin-right: 10px;
  }
}

.btn__control-project:hover {
  color: var(--primary-color);
}

.btn__create-project {
  color: var(--white-color);
  background-color: #0088ff;
  border: 1px solid rgb(0, 0, 0, 0.1);
  margin: 5px;
}

.btn__create-project:hover {
  opacity: 0.8;
}

.list__select {
  display: flex;
  align-items: center;
  min-width: 200px;
  min-height: 40px;
}

.search__member {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  height: 30px;
  min-width: 200px;
  padding: 0 5px;
  border-radius: 3px;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.1);
  input {
    width: 100%;
    outline: none;
  }

  svg {
    font-size: 2rem;
    cursor: pointer;
  }
}

.select__name-project {
  @include background;
  min-width: 100%;
  height: 50%;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 4px;
  outline: none;

  option {
    @include background;
    border: none;
    outline: none;
  }
}

.employee__item {
  padding: 5px 0;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

th.sticky-col-0,
td.sticky-col-0 {
  background-color: var(--white-color);
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  left: 0;
  z-index: 2;
}

th.sticky-col-1,
td.sticky-col-1 {
  background-color: var(--white-color);
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  left: 35px;
  z-index: 1;
}

th.sticky-col-2,
td.sticky-col-2 {
  background-color: var(--white-color);
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  left: 70px;
  z-index: 1;
}

th.sticky-col-3,
td.sticky-col-3 {
  background-color: var(--white-color);
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  left: 270px;
  z-index: 1;
}

th.sticky-col-4,
td.sticky-col-4 {
  background-color: var(--white-color);
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  left: 470px;
  z-index: 1;
}

.control__project {
  cursor: pointer;
  position: relative;
}

.control__project:hover .list__contacts {
  display: block;
  z-index: 99;
}
