@mixin text {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
}

@mixin backrgound {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.05);
}

@mixin box {
  top: 30px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container_profile {
  display: flex;
}

.header__information-user {
  margin-top: 5rem;
  @include backrgound();
  padding: 1rem 2rem;

  .z_raty {
    display: flex;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);

    .box__img-user {
      border-radius: 1rem;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      width: 15rem;
      height: 15rem;
      background-position: center;
      background-size: cover;
      margin-top: -10rem;
    }

    .infor__user {
      line-height: 2rem;
      margin-left: 1rem;

      .name__user {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--text-color);
      }

      .role__user {
        @include text;
        font-weight: 300;
        color: var(--blur-color);
      }
    }
  }

  .ul__navbar {
    display: flex;
    @include text;
    margin-top: 6px;

    .li__navbar {
      margin: 0 1.5rem;
      cursor: pointer;
    }

    .li__navbar.active__li {
      border-bottom: 2px solid var(--active-color);
    }

    .li__navbar:hover {
      color: var(--active-color);
    }
  }
}

.top__class {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  @include backrgound;
  display: flex;
  flex-wrap: wrap;

  .class__item {
    display: flex;
    margin: 1rem;
    width: calc(100% / 3.2);
  }

  .box__font {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba($color: #000000, $alpha: 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .infor__class {
    @include text();
    margin-left: 5px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    :not(div.room) {
      color: var(--blur-color);
      font-weight: 300;
    }
  }
}

.introduce {
  position: relative;
  margin-top: 20px;
  @include backrgound;
  min-height: 20vh;
  padding: 10px;

  .title__introduce {
    @include text();
  }

  .add__people-introduce {
    position: absolute;
    @include box();
    display: flex;
    flex-direction: column;
    @include text();
    justify-content: center;
    align-items: center;

    :not(div) {
      margin-bottom: 2px;
    }
  }

  .add__people-introduce:hover {
    border: 1px solid rgba($color: #000000, $alpha: 0.05);
    border-top: none;
  }
}

.introduce::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 100px;
  right: 20px;
  border: 1px solid rgba($color: #000000, $alpha: 0.03);
}

.organization {
  @include box();
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include text();

  .box__font {
    display: flex;

    .room {
      line-height: 25px;
      margin-left: 5px;
    }
  }
}

.infor__employee {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .infor__item {
    width: 50%;
    display: flex;
    @include text();
    padding: 20px 0 0 0;
    flex-wrap: wrap;

    .title__infor {
      min-width: 150px;
      color: var(--blur-color);
      font-weight: 300;
      font-size: 1.4rem;
    }

    .content__infor {
      flex: 1;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
      margin-right: 10px;
    }
  }

  .item__full__width {
    width: 100%;
  }

  .table__experience {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
  }

  .head__experience {
    @include text();
  }

  #body__experience {
    @include text();
    font-weight: 300;
  }

  .th__experience {
    min-width: 150px;
    background-color: #e5e5f0;
    border-radius: var(--border-radius);
    border-right: 3px solid var(--white-color);
    color: var(--blur-color);
    font-weight: 300;

    div {
      display: flex;
      justify-content: space-between;

      span {
        display: flex;
      }
    }
  }

  .th__experience,
  .td__experience {
    text-align: start;
    padding: 10px;
  }
}

.icon__arrow {
  font-size: 1rem;
  color: var(--blur-color);
  width: 10px;
  cursor: pointer;
  font-weight: 100;
}

.icon__arrow.active {
  color: var(--active-color);
}
