@mixin text {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
}

@mixin background {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.1);
}

@mixin box {
  top: 30px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container_profile {
  display: flex;
}

.content_user {
  padding: 30px;
}

.header__information-user {
  margin-top: 5rem;
  @include background();
  padding: 1rem 2rem;

  .z_raty {
    display: flex;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);

    .box__img-user {
      border-radius: 1rem;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      width: 15rem;
      height: 15rem;
      background-position: center;
      background-size: cover;
      margin-top: -10rem;
    }

    .box__img-user.box__img__user-update {
      width: 50px;
      height: 50px;
      margin-top: 0;
    }

    .infor__user {
      line-height: 2rem;
      margin-left: 1rem;

      .name__user {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--text-color);
      }

      .role__user {
        @include text;
        font-weight: 300;
        color: var(--blur-color);
      }
    }
  }

  .ul__navbar {
    display: flex;
    @include text;
    margin-top: 6px;

    .li__navbar {
      margin: 0 1.5rem;
      cursor: pointer;
    }

    .li__navbar.active__li {
      border-bottom: 2px solid var(--active-color);
    }

    .li__navbar:hover {
      color: var(--active-color);
    }
  }
}

.header__information__user-update,
.footer__information__user-update {
  margin-top: 0;
  position: sticky;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.header__information__user-update {
  top: 0;
}

.footer__information__user-update {
  bottom: 0;
  position: sticky;
  right: 0;
  left: 0;
}

.top__class {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  @include background;
  display: flex;
  flex-wrap: wrap;

  .class__item {
    display: flex;
    margin: 1rem;
    width: calc(100% / 3.3);
  }

  .box__font {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba($color: #000000, $alpha: 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .infor__class {
    @include text();
    margin-left: 5px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    :not(div.room) {
      color: var(--blur-color);
      font-weight: 300;
    }
  }
}

.introduce {
  position: relative;
  margin-top: 30px;
  @include background;
  padding: 10px;
  min-height: 30vh;

  .title__introduce {
    @include text();
  }

  .add__people-introduce {
    position: absolute;
    @include box();
    display: flex;
    flex-direction: column;
    @include text();
    justify-content: center;
    align-items: center;

    :not(div) {
      margin-bottom: 2px;
    }
  }

  .add__people-introduce:hover {
    border: 1px solid rgba($color: #000000, $alpha: 0.05);
    border-top: none;
  }
}

.introduce::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 100px;
  right: 20px;
  border: 1px solid rgba($color: #000000, $alpha: 0.03);
}

.organization {
  @include box();
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include text();

  .box__font {
    display: flex;

    .room {
      line-height: 25px;
      margin-left: 5px;
    }
  }
}

.infor__employee {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .infor__item {
    width: 50%;
    display: flex;
    @include text();
    padding: 20px 0 0 0;
    flex-wrap: wrap;

    .title__infor {
      min-width: 150px;
      color: var(--blur-color);
      font-weight: 300;
      font-size: 1.4rem;
    }

    .content__infor {
      flex: 1;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
      margin-right: 10px;
    }

    // .content__infor:hover {
    //   border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    // }

    .input__change-infor {
      outline: none;
    }

    .change__content-infor {
      cursor: pointer;
      position: relative;
      display: none;

      svg {
        cursor: pointer;
        position: absolute;
        left: -30px;
      }

      svg:hover {
        color: red;
      }

      svg:hover ~ .change {
        display: block;
      }

      .change {
        position: absolute;
        min-width: 80px;
        text-align: center;
        border-radius: 4px;
        color: var(--white-color);
        font-weight: 300;
        opacity: 0.8;
        top: -200%;
        right: -20px;
        padding: 4px 4px;
        background-color: var(--black-color);
        display: none;
      }

      .change::after {
        content: "";
        position: absolute;
        right: 20px;
        bottom: -100%;
        border-width: 20px;
        border-style: solid;
        border-color: var(--black-color) transparent transparent transparent;
        z-index: -1;
      }
    }
  }

  .infor__item:hover .change__content-infor {
    display: block;
  }

  .infor__item:hover .content__infor {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
  }

  .item__full__width {
    width: 100%;
  }

  .table__experience {
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }

  .head__experience {
    @include text();
  }

  #body__experience {
    @include text();
    font-weight: 300;
  }

  .th__experience {
    min-width: 200px;
    background-color: #e5e5f0;
    border-radius: var(--border-radius);
    border-right: 3px solid var(--white-color);
    color: var(--blur-color);
    font-weight: 300;

    div {
      display: flex;
      justify-content: space-between;

      span {
        display: flex;
      }
    }
  }

  .th__experience-checkbox {
    min-width: 35px;
    background-color: #e5e5f0;
    border-radius: var(--border-radius);
    border-right: 3px solid var(--white-color);
    div {
      display: flex;
      justify-content: center;
    }
  }

  .th__experience,
  .td__experience {
    text-align: start;
    padding: 10px;
  }
}

.infor__employee.scroll-infor {
  min-height: 50vh;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 60vh;
}

.icon__arrow {
  font-size: 2rem;
  color: var(--blur-color);
  width: 10px;
  cursor: pointer;
  font-weight: 100;
}

.icon__arrow.active {
  color: var(--active-color);
}

.main__list-infor {
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 10px;
  border-radius: var(--border-radius);
  // box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  .introduce {
    margin-top: 10px;
  }

  .top__class {
    margin: 0;
  }
}

.footer__information-user {
  margin-top: 5rem;
  @include background();
  padding: 2rem 2rem;
  border-radius: 0;
}

.btn__save {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  min-width: 60px !important;
  font-size: 1.4rem;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.btn__save:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.background__header {
  position: relative;

  .extend {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 3rem;
    color: var(--white-color);
    cursor: pointer;
    z-index: 999;
  }

  .extend:hover ~ .change__profile {
    display: block;
  }

  .change__profile {
    @include background();
    border-radius: 4px;
    position: absolute;
    top: 40px;
    right: 20px;
    min-width: 124px;
    text-align: center;
    color: var(--blur-color);
    font-size: 1.4rem;
    cursor: pointer;
    padding: 5px;
    display: none;
  }

  .change__profile::before {
    content: "";
    position: absolute;
    top: -60%;
    right: 0;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent var(--white-color) transparent;
  }

  .change__item:hover {
    background-color: #e5e5f0;
  }

  .change__item {
    width: 100%;
    height: 100%;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.infor__project {
  padding: 10px 20px;
  .infor__item {
    display: flex;
    padding: 15px;
  }

  .infor__item-2 {
    display: flex;
    padding: 15px;
    width: 50%;
  }

  .title__infor {
    min-width: 200px;
    font-size: 1.6rem;
    color: var(--blur-color);
  }

  .input__infor {
    flex: 1;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 8px;
    height: 35px;
    border-radius: 4px;
    font-size: 1.4rem;
  }

  textarea {
    min-height: 100px;
  }

  .input__infor:focus {
    outline: 1px solid var(--input-layout);
  }
}

.input__infor-img {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.groups__choose {
  width: 100%;
  position: relative;

  input {
    width: 100%;
  }

  input:focus ~ .choose {
    display: block;
  }

  .choose {
    position: absolute;
    display: none;
    z-index: 3;
  }

  .choosen__item-infor {
    cursor: pointer;
  }
  // .chosse:focus {
  //   display: block;
  // }
}
@if () {
}

.change__content-infor.choose__list {
  display: block !important;
  flex: 1;
}
